- options = articles.size > 1 ? Dropblog::Engine.config.index_defaults : Dropblog::Engine.config.show_defaults
.articles
  = render :partial => 'article', :collection => articles, :as => :article, :locals => { :options => options }