%header.articles
  %h1
    - if @blog
      - titles = Dropblog::Engine.config.title
      - title = titles.is_a?(Hash) ? titles[@blog.to_sym] : titles
      = link_to title, dropblog_permalink_path(:blog => @blog)
    - else
      Blog
  %h6
    powered by
    = link_to 'dropblog', 'http://github.com/mikelaurence/dropblog'

  - if can? :create, Dropblog::Article
    %aside.admin
      = link_to 'New article', new_dropblog_article_path